form.tadka{
    display: flex;
    flex-flow: row wrap;
}
fieldset.fieldset{
       background-color: rgba(250, 176, 176, 0.582);
       border-radius: 20px;
       flex: 1 1 40%;
       font-size: 0.85em;
       padding: 10px;
       margin: 10px;
       border-style: none;
       
}
fieldset.fieldset:hover{
    color: white;
    transition: 500ms;
    box-shadow:  0 0 20px black;
    background: linear-gradient(to right,rgba(255, 0, 0, 0.678),rgba(0, 0, 0, 0.767));
    transform: scale(1.1);
}

legend{
    background-color: rgba(235, 24, 24, 0.815);
    color: white;
    padding: 2px 4px 2px 4px;
    border-radius: 20px;
}
div.formRow{
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
}
div.formRow > * {
    flex: 1 1 140px;
}
div.formRow > input#dineout {
    flex:  0 0 50px;
}
textarea {
    margin-top: 10px;
    height: 120px;
    width: 95%;
    border-radius: 5px;
    border-style: none;
}
div.buttons {
    text-align: center;
    width: 100%;
 }
 input{
     border-radius: 5px;
     border-style: none;
 }
 input[type='submit'], input[type='reset'] {
    font-size: 1.2em;
    padding: 5px;
    margin: 15px;
    background-color:ghostwhite;
 }
 input[type='submit']:hover, input[type='reset']:hover{
     box-shadow: 0 0 20px black;
     transition: 900ms;
 }